.title {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 35px;
  margin-left: 10%;
  margin-right: 10%;
  color: orangered;
}
.layout {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
}
